# Additional python modules to install
# Do not install homeassistant from here
# ...

# hass startup fails sometimes due to missing dependencies, manually install before running hass
webrtcvad==2.0.10

# to run hassfest
black==23.9.1
tqdm==4.66.1
